
 $headerFontFamily: 'DINPro-Regular', sans-serif;
 $headerSlogan: 'Playfair', serif;
 $headerCarnet: 'Playfair-Italic', 'Playfair', serif;
 $headerCarnetAuthor: 'Playfair-Bold-Italic', 'Playfair', serif;

 $headlinFontFamily: 'Playfair-Bold', serif;
 $taglineFontFamily: 'Playfair-Italic', sans-serif;

 $shareFontFamily: 'DINAlternate-Bold', sans-serif;

 $footerFontFamily: 'DINAlternate-Bold', sans-serif;

 $slideshowOffers: 'DINAlternate-Bold', sans-serif;
 $slideshowRooms: 'DINAlternate-Bold', sans-serif;
 $slideshowMenuFont: 'DINAlternate-Bold', sans-serif;

 $introductionDesktop: 'Playfair', serif;

 $textContent: 'DINAlternate-Bold', sans-serif;
 $textContent2: 'Playfair-Italic', sans-serif;

 $eventTitle: 'DINAlternate-Bold', sans-serif;
 $eventDate: 'DINAlternate-Bold', sans-serif;

 $stayConnectedSocial: 'DINAlternate-Bold', sans-serif;

 $roomsIcons: 'DINPro-Regular', sans-serif;


