@media all and (min-width: $mobile-break) {
  .home {


    &__background {
    }


    &__hotel-location {


      &--descpicture {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: picture1;
        -ms-grid-column-align: start;
        -ms-grid-column-align: start;
        justify-self: start;
        height: 100%;
        width: 100%;
      }
      &--headline {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        grid-area: headline;
        -ms-grid-column-align: start;
        -ms-grid-column-align: start;
        justify-self: start;
        -ms-grid-row-align: end;
        align-self: end;
        
        text-align: start;
      }
      &--tagline {
        -ms-grid-row: 2;
        -ms-grid-column: 5;
        grid-area: tagline;
        -ms-grid-column-align: start;
        -ms-grid-column-align: start;
        justify-self: start;
        -ms-grid-row-align: end;
        align-self: end;

        text-align: start;

      }
      &--button {
        -ms-grid-row: 3;
        -ms-grid-column: 5;        
        grid-area: button;
        -ms-grid-column-align: start;
        -ms-grid-column-align: start;
        justify-self: start;
        margin-bottom: 30px;
        -ms-grid-row-align: end;
        align-self: end;
      }
      &--description {
        -ms-grid-row: 5;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        grid-area: description;
        font-family: $textContent;
        font-size: 0.75rem;
        line-height: 1.25rem;
        text-align: end;
        -ms-grid-row-align: center;
        align-self: center;
      }
      &--map {
        -ms-grid-row: 5;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
        grid-area: picture2;
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        align-content: stretch;
        position: relative;

        > * {
          flex-grow: 1;
          border: none;
          position: relative;

        }
      }
      &--map-pin {
        position: absolute;
        top: 50%;
        right: 25%;
      }
      &--coordinates {
        -ms-grid-row: 8;
        -ms-grid-column: 4;
        -ms-grid-column-span: 2;
        grid-area: coordinates;
        -ms-grid-row-align: center;
        align-self: center;
        display: flex;
        font-family: $textContent;
        font-size: 0.75rem;
        justify-content: flex-end;

        > :first-child {
          border-right: 1px solid $defaultFontColor;
          padding-right: 10px;
        }
        > :last-child {
          padding-left: 10px;
        }
      }
    } 

    &__hotel-rooms {


      &--descpicture2 {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        grid-area: picture2;
      }
      &--descpicture1 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: picture1;
        position: relative;

        // background-image: url('../img/home/rooms-2@2x.png');
      }
      &--headline {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: headline;
        -ms-grid-column-align: start;
        -ms-grid-column-align: start;
        justify-self: start;
        -ms-grid-row-align: end;
        align-self: end;
        text-align: start;
      }
      &--tagline {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        grid-area: tagline;
        -ms-grid-column-align: start;
        -ms-grid-column-align: start;
        justify-self: start;
        -ms-grid-row-align: end;
        align-self: end;
        text-align: start;
      }
      &--description {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
        grid-area: description;
        font-family: $textContent;
        font-size: 0.75rem;
        line-height: 1.25rem;
        text-align: end;
        -ms-grid-column-align: end;
        -ms-grid-column-align: end;
        justify-self: end;
        -ms-grid-row-align: center;
        align-self: center;
        max-width: $hotelRoomsDescMaxWidth;
        &--button {
          flex-grow: 0;
          -ms-grid-row: 5;
          -ms-grid-column: 1;
          -ms-grid-column-span: 4;
          grid-row: 5;
          grid-column: 1 / -1;
          -ms-grid-row-align: center;
          align-self: center;
          -ms-grid-column-align: center;
          -ms-grid-column-align: center;
          justify-self: center;
        }
      }

    } 

    &__bar {

      &--descpictures {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-area: picture1;
        -ms-grid-column-align: start;
        -ms-grid-column-align: start;
        justify-self: start;
        height: 100%;
        width: 100%;
        // background-image: url('../img/home/bar-2@2x.png');
      }
      &--descpicture1 {
        height: 100%;
        width: 100%;
        &--pic {
          @media all and (max-width: $desktop-break) {
            transform: translate3D(0,0,0) !important;
          }
        }
      }
      &--descpicture2 {
        -ms-grid-row: 5;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
        grid-area: picture2;
        position: relative;
        // background-image: url('../img/home/bar@2x.png');
      }
      &--headline {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
        grid-area: headline;
        -ms-grid-column-align: start;
        -ms-grid-column-align: start;
        justify-self: start;
        -ms-grid-row-align: end;
        align-self: end;
        
        text-align: start;
      }
      &--tagline {
        -ms-grid-row: 2;
        -ms-grid-column: 5;
        grid-area: tagline;
        -ms-grid-column-align: start;
        -ms-grid-column-align: start;
        justify-self: start;
        -ms-grid-row-align: end;
        align-self: end;

        line-height: 1.3125rem;
        text-align: start;

      }
      &--button {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
        grid-area: button;
        -ms-grid-column-align: start;
        -ms-grid-column-align: start;
        justify-self: start;
        margin-bottom: 30px;
        -ms-grid-row-align: end;
        align-self: end;
      }
      &--description {
        -ms-grid-row: 5;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        grid-area: description;
        font-family: $textContent;
        font-size: 0.75rem;
        line-height: 1.25rem;
        text-align: end;
        -ms-grid-row-align: center;
        align-self: center;
      }
    }

    /*------------------------------------*/
    /*RESTAURANT*/
    /*------------------------------------*/

    &__restaurant {
      // width: 100%;
      &--descpicture {
        -ms-grid-row: 3;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-area: descpicture;
        // background-image: url('../img/home/restaurant@2x.png');
      }
      &--headline {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: headline;
        text-align: start;
        -ms-grid-row-align: end;
        align-self: end;
      }
      &--tagline {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
        grid-area: tagline;
        text-align: start;
        -ms-grid-row-align: end;
        align-self: end;
      }
      &--description {
        &--container {
          z-index: $zPicOnTopOfTheOther;
          -ms-grid-row: 4;
          -ms-grid-row-span: 2;
          -ms-grid-column: 3;
          -ms-grid-column-span: 3;
          grid-row: 4 / -1;
          grid-column: 3 / -1;
          background-color:$descBgColor;
          padding: $eventDescPadding;
          text-align: start;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          //align-content: center;

        }
        &--tagline {
          text-align: start;

        }
        &--content {
          font-family: $textContent;
          font-size: 0.75rem;
          line-height: 1.25rem;
        }
        &--buttons {
          align-items: flex-start;
        }
        &--button {
          margin-bottom: 10px;
          // text-align: start;
          // justify-content: flex-start;
          // flex-grow: 0;
        }
      }

    }

  }

}
