@media all and (min-width: $mobile-break) {

  .header {
    &__content {
    }

    &__back {
    }

    &__mask {
    }

    &__top {

      &--company {
        -ms-grid-row: 11;
      }


      &--hotel-logo {
      }

      &--infos {
        -ms-grid-row: 12;
        > div {
        }
        &-phone > .span {
        }
        > div > :first-child {
        }
        > :not(:last-child) {
        }
        .fa-phone {
        }
        .fa-phone, .fa-clock {
        }
      }
    }

    &__slogan {
      > .span {
        font-size: 1.4375rem;
      }
    }

    &__carnet {

      .span {
      }
      :first-child {
      }
      :last-child {
        em {
        }
      }
    }

    &__call-to-scroll {

      &--text {
      }
      &--divider {
      }
    }
  }


  nav {
    &.js-is-sticky {
    }
    &.js-is-stuck {
    }
    ul {

      li {

        &:not(:last-child) {
        }
      }
    }
  }

}
