
.header {
  &__content {
  }

  &__back {
  }

  &__mask {
  }

  &__top {

    &--company {
      width: 100%;
      justify-content: center;
      align-items: start;
      background-color: $footerBottomBgColor;
    }
    &--company-logo, &--company-logo:after {
      background-image: url('../img/logos/b-signature.png');
    }
    &--company-menu {
    }


    &--hotel-logo {


      background-image: url('../img/logos/vernet-logo-half-white.png');
      &.hotel-logo-full { display: none }
      &.hotel-logo-half {
        pointer-events: auto;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: $stickyMenuMobile;
        transition: opacity $hamMenuTransDuration ease-in-out $hamTransDuration;
      }
      &.js-is-sticky {
        top: 0;
      }
      &.js-is-stuck {
        top: 0;
      }
    }

    &--infos {
      background-color: $footerBottomBgColor;

      &-phone, &-local-time {
      }

      &-language {

      }

      &-phone > .span {
      }
      > div > :first-child {
        margin-right: 5px;
      }
      > :not(:last-child) {
        margin-right: 20px;
      }
      .fa-phone {
      }
      .fa-phone, .fa-clock {
      }

      &-phone, &-local-time {
      }
    }
  }

  &__slogan {
    // margin-bottom: 50px;
    line-height: 2rem;

    > .span {
      font-size: 1.375rem;
    }
  }

  &__carnet {
    display: none;

    .span {
    }
    :first-child {
    }
    :last-child {
      em {
      }
    }
  }

  &__call-to-scroll {

    &--text {
    }
    &--divider {
      margin-top: 15%;
    }
  }



  &__menu {
    // opacity: 0;
    z-index: $zindexMenuOnTop;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    max-height: $menuBgHeightMobile;
    height: 100%;
    pointer-events: none;
    @media all and (max-width: $less-than-desktop-break) {
      transition: opacity $hamMenuTransDuration ease-in-out $hamTransDuration, max-height 0s ease-in-out $hamMenuTransDuration;
    }

    &.active-mobile {
      max-height: 100vh;
      pointer-events: auto;

      @media all and (max-width: $less-than-desktop-break) {
        transition: opacity $hamMenuTransDuration ease-in-out $hamTransDuration, max-height 0s ease-in-out $hamMenuTransDuration;
      }

      .hotel-logo-half {
        opacity: 0;
        transition: opacity $hamMenuTransDuration ease-in-out;
        pointer-events: none;

      }

      .header__menu {
        &--container {
        }
        &--hamburger {
          /* transform: translate3d(calc(50vw - $hamburgerLeftMobile - $hamWidth1575 * 3 / 4),0,0); */
          transform: translate3d(calc(50vw - 40px - 21.375px * 3 / 4),0,0);
          @media all and (max-width: 400px) {
            /* transform: translate3d(calc(50vw - $hamburgerLeftMiniMobile - $hamWidth1575 * 3 / 4),0,0); */
            transform: translate3d(calc(50vw - 20px - 21.375px * 3 / 4),0,0);
          }
        }
        &--calendar {
          pointer-events: none;
          opacity: 0 !important;
          transition: opacity $hamMenuTransDuration ease-in-out;

        }
        &--mobile-background {
          // opacity: 0 !important;
          transition: opacity $hamMenuTransDuration ease-in-out;
        }
        &--items {
          opacity: 1;
          transition: opacity $hamMenuTransDuration ease-in-out $hamTransDuration;

        }
        &--item {

        }
      }
    }

    &--container {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }


    &--hamburger {

      z-index: $zindexHamburgerOnTop;
      position: absolute;
      top: $stickyMenuMobile;
      left: $hamburgerLeftMobile;
      transition: transform $hamMenuTransDuration ease-in-out $hamTransDuration;
      pointer-events: auto;
      opacity: 1 !important;

      &.active-mobile {
        /* transform: translate3d(calc(50vw - $hamburgerLeftMobile - $hamWidth1575 * 3 / 4),0,0); */
        transform: translate3d(calc(50vw - 40px - 21.375px * 3 / 4),0,0);
      }

      @media all and (max-width: 400px) {
        left: $hamburgerLeftMiniMobile;
        &.active-mobile {
          /* transform: translate3d(calc(50vw - $hamburgerLeftMiniMobile - $hamWidth1575 * 3 / 4),0,0); */
          transform: translate3d(calc(50vw - 20px - 21.375px * 3 / 4),0,0);
        }
      }
    }

    &--calendar {
      display: block;
      position: absolute;
      top: $stickyMenuMobile;
      right: $hamburgerLeftMobile;
      @media all and (max-width: 400px) {
        right: $hamburgerLeftMiniMobile;
      }
      pointer-events: auto;
      transition: opacity $hamMenuTransDuration ease-in-out $hamMenuTransDuration ;

    }



    &--mobile-background {
      position: absolute;
      top: 0;
      width: 100%;
      height: $menuBgHeightMobile;
      left: 0;
      opacity: 0;
      // transition: opacity $hamMenuTransDuration ease-in-out $hamMenuTransDuration ;
    }

    &--items {
      z-index: $zHeaderContent;
      height: 100vh;
      width: 100vw;
      padding-top: $stickyMenuMobileMultiply2; 
      padding-bottom: 10vh;

      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-size: 0.85rem;
      background: $beige;
      background: -webkit-linear-gradient(to bottom, $headerMenuBgGradientStart, $headerMenuBgMobile);
      background: linear-gradient(to bottom, $headerMenuBgGradientStart, $headerMenuBgMobile); 

      opacity: 0;
      transition: opacity $hamMenuTransDuration ease-in-out;
    }
    &--item {
     $paddingY: 4vh;
     flex-grow: 0;
     min-width: 200px;
     &:first-child {
      padding-top: $paddingY;
      border-top: 1px solid $headerFontColor
    }
    &:last-child {
      padding-bottom: $paddingY;
      border-bottom: 1px solid $headerFontColor
    }
  }
}
}
