.check-rooms {
  .no-rooms {
    display: none;
  }
}



.rooms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  &__head {
    &--pic {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  } 

  &__introduction {
    
    &--descpicture {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

    }
    &--headline {

    }
    &--description {
      font-family: $textContent;
      font-size: 0.75rem;
      line-height: 1.5rem;
      text-align: center;
    }
  } 


  &__note {
    background-color: $offersBgColor;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--headline {
      width: $tabBodyWidth;
    }
    &--text {
      max-width: 85%;
      width: $tabBodyWidth;
      font-family: $textContent;
      text-align: center;
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
    &--button {
    }
  }


}
