
.wrapper {
  // position: relative;

  /*********VARIABLES**********/


  /**********GRID SETUP************/
  -ms-grid-columns: 40px $hamWidth1575 1fr $hamWidth1575 40px;
  grid-template-columns: 40px $hamWidth1575 1fr $hamWidth1575 40px;
  -ms-grid-rows: 
  $topHeightMobile
  $menuHeightMobile
  calc((100vh - 35px - 35px - 45px - 65px ) * 0.35)
  $sloganHeightMobile 
  calc((100vh - 35px - 35px - 45px - 65px ) * 0.15)
  $reservationHeightMobile
  calc((100vh - 35px - 35px - 45px - 65px ) * 0.5)
  1fr
  $footerHotelDetailsMobile
  $footerSocialMobile
  $footerBottomHeightMobile
  $companyLogoHeightWithMargin
  $topHeightInBottomMobile; 
  grid-template-rows: 
  $topHeightMobile
  $menuHeightMobile
  calc((100vh - 35px - 35px - 45px - 65px ) * 0.35)
  $sloganHeightMobile 
  calc((100vh - 35px - 35px - 45px - 65px ) * 0.15)
  $reservationHeightMobile
  calc((100vh - 35px - 35px - 45px - 65px ) * 0.5)
  1fr
  $footerHotelDetailsMobile
  $footerSocialMobile
  $footerBottomHeightMobile
  $companyLogoHeightWithMargin
  $topHeightInBottomMobile; 


  grid-template-areas: 
  'top             top                  top                  top                   top'
  'marginLeft      menu                 hotellogo1           calendar              marginRight'
  'blank3          blank3               blank3               blank3                blank3'
  'slogan          slogan               slogan               slogan                slogan'
  'blank4          blank4               blank4               blank4                blank4'
  'reservation     reservation          reservation          reservation           reservation'
  'blank5          blank5               blank5               blank5                blank5'
  'content         content              content              content               content'
  'blank6          details              details              details                blank7'
  'blank6          social               social               social                blank7'
  'legal           legal                legal                legal                 legal'
  'companylogo     companylogo          companylogo          companylogo           companylogo'
  'infos           infos                infos                infos                 infos';
}

